<section>
  <div class="page-header">
    <h1>Venues</h1>
  </div>
  <div>
    <ng-map center="{{vm.map.center}}">
      <marker ng-repeat="ven in vm.venues" position="{{[ven.location.lat, ven.location.lng]}}" title="{{ven.name}}"></marker>
    </ng-map>
  </div>
  <br>
  <br>
  <button class="btn btn-info" ng-click="vm.nearest = !vm.nearest" ng-if="vm.venues.length>0">Sort by: {{!vm.nearest? 'nearest' : 'farthest'}}</button>
  <br>
  <br>
  <div class="list-group">
    <span ng-repeat="venue in vm.venues | orderBy:'location.distance':!vm.nearest">
      <div class="clearfix" ng-if="$index % 6 == 0" style="margin: 10px"></div>
      <venue venue="venue"></venue>
    </span>
  </div>
</section>

<!--ui-sref="venues.view({ venueId: venue._id })"-->