<div class="card" style="width: 20rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-block">
        <h4 class="card-title">{{venueClientDirectiveCtrl.venue.name}}</h4>
        <p class="card-text">
             Address: {{venueClientDirectiveCtrl.venue.location.address}} <br>
             City: {{venueClientDirectiveCtrl.venue.location.city}}    <br> 
             Country: {{venueClientDirectiveCtrl.venue.location.country}} <br> 
             Distance: {{venueClientDirectiveCtrl.venue.location.distance}}  <br>
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>